.canvas {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  /* cursor: all-scroll; */
}

.tools {
  position: absolute;
  top: 20px;
  right: 20px;
}

.phi-indicator {
  width: 50px;
  height: 50px;
  cursor: ns-resize;
  transition: transform 100ms;
}

.phi-indicator:active {
  transform: scale(1.1);
}

.phi-indicator:hover {
  transform: scale(1.1);
}

.close-button {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  width: 25px;
  transition: transform 100ms;
}

.close-button:hover {
  transform: scale(1.1);
}