@media (min-width: 440px) {
  .container {
    position: relative;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 440px) {
  .container {
    position: relative;
    width: calc(95vw);
    height: calc(95vw);
  }
}

.container {
  cursor: pointer;
}

.atom-preview {
  width: inherit;
  height: inherit;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(17, 17, 17, 0.3);
}

.description {
  user-select: none;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}



.lds-ellipsis {
  display: inline-block;
  position: absolute;
  left: 50%;
  height: 50%;
  width: 80px;
  height: 80px;
  transform: translateX(-50%) translateY(70%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 38, 153);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}