<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollUpDistance]="1.5"
[infiniteScrollThrottle]="10"
(scrolled)="onScroll()">
  <canvas #serviceCanvas class="service-canvas" width="500px" height="500px"></canvas>
  <div class="title-bar">
    <div class="title">
      Hydrogen Orbitals
    </div>
    <a class="search" href="/search">
      <img src="../../assets/magnifyingglass.svg" alt="search">
    </a>
  </div>
  <div class="subtitle-container">
    <div class="subtitle">
      code and help on <a href="https://github.com/starrfree/hydrogen-orbitals#hydrogen-atom-orbitals">GitHub</a>
    </div>
    <div class="subtitle">
      more apps on <a href="https://starfree.app">starfree.app</a>
    </div>
  </div>
  <div class="list-container" [style.overflow]="showExtended ? 'scroll' : 'hidden'">
    <div *ngFor="let groupN of atomicNumbers">
      <div class="divider">{{groupN[0][0].n}}</div>
      <div *ngFor="let groupStep of groupN">
        <div class="grid-container">
          <div *ngFor="let atomicNumber of groupStep">
            <app-atom-preview [n]="atomicNumber.n" [l]="atomicNumber.l" [m]="atomicNumber.m" (click)="expand(atomicNumber)"></app-atom-preview>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showExtended" class="extended-container glass">
    <div class="click-background" (click)="reduce()"></div>
    <app-atom #extendedView class="atom-extended" [n]="activeAtomicNumbers.n" [l]="activeAtomicNumbers.l" [m]="activeAtomicNumbers.m" (close)="reduce()"></app-atom>
  </div>
</div>